---
import Layout from "../layouts/Layout.astro";
import ForgotPasswordForm from "../components/ForgotPasswordForm.tsx";
---

<Layout title="Forgot Password - Gutsy" hideFloatingButton={true}>
  <main class="min-h-screen bg-gray-50 flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md">
      <ForgotPasswordForm client:idle />
    </div>
  </main>
</Layout>